.layout{
  &-right{
    display: flex;
    flex-direction: column;
    &-header{
      background: #fff; 
      height: 50px;
    }
    &-content{
      margin: 0 16px;
      padding: 24px;
      background: #fff; 
      flex:1
    }
    &-footer{
      text-align: center;
    }
    
  }
}
