.layout{
  &-right{
    flex-direction: column;
    display: flex;

    &-header{
      height: 50px;
      background: #fff; 
    }

    &-content{
      padding: 24px;
      margin: 0 16px;
      background: #fff; 
      flex:1
    }

    &-footer{
      text-align: center;
    }
    
  }
}
